.red {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 10px;
    line-height: 100px;

}

.blue {
    background-color: rgb(255, 128, 0);
    margin: 0, auto;
}


.blu {
    height: 100px;
    width: 100px;
    background-color: rgb(72, 18, 220);
    margin: 10px;
    line-height: 100px;

}

.green {
    height: 100px;
    width: 100px;
    background-color: rgb(68, 203, 44);
    margin: 10px;
    line-height: 100px;

}

.grey {
    height: 100px;
    width: 100px;
    background-color: rgb(92, 91, 94);
    margin: 10px;
    line-height: 100px;
}

#list {

    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    list-style-type: none;


}